body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.flex-row{
    display: flex;
    flex-direction: row;
}
.navbar {
    width: 100%;
    height: 100vh;
    min-width: 100%;
    min-height: 100%;
    color: white;
    position: relative;
}
.navbar::before {
    background-image: url(hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -2;
}
.navbar::after {
    height: 100vh;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    background-color: rgba(80,80,80,0.7);
}
div.navbar > div.flex-row h4 {
    margin-left: 30px;
}
div.navbar > div.flex-row {
    align-items: center;
    justify-content: space-between;
}
div.navbar >div.flex-row ul {
    list-style-type: none;
}
div.navbar >div.flex-row ul >li> a{
    text-decoration: none;
    color: white;
}
ul.flex-row > li{
    margin-right: 30px;
}
div.main-content-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
h1 {
    line-height: 0;
}
p {
    font-size: 10px;
}
button {
    color: white;
    background-color: #2590e5;
    border-radius: 5%;
    border: 0;
    padding: 10px 20px;
    font-weight: bolder;
}
div.main-content-2 {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
}
.text {
    font-size: 10px;
    position: relative;
}
.text::before {
    content: "";
    position: absolute;
    left: 40%;
    bottom: -15px;
    height: 1px;
    width: 20%;
    border-bottom: 3px solid #2590e5;
}
img {
    width: 100%;
    object-fit: cover;
}
.one {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    height: auto;
    width: 100%;
    margin-top: 2.5%;
}
.one-third {
    width: 32%;
    height: 250px;
    display: flex;
}
.one .one-third {
    background-image: url("coast.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.one .two-third {
    background-image: url("island.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.two-third {
    width: 62%;
    height: 250px;
    display: flex;
}

.two {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    height: 250px;
    width: 100%;
    margin-top: 2.5%;
    margin-bottom: 4%;
}
.two .one-third {
    background-image: url("mountain.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.two .two-third {
    background-image: url("balloon.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.box {
    width: 30%;
    height: 250px;
    text-align: center;
}
.box-1 {
    width: 20%;
    height: 100px;
}
.box-2 {
    width: 60%;
    height: 100px;
    text-align: center;
}
.grey {
    background-color: rgb(240, 234, 234);
}
 i {
    color: #2590e5;
}
.fa-twitter-square, .fa-facebook-square, .fa-snapchat-square, .fa-pinterest-square {
    color: white;
}
.box > p {
    font-size: 10px;
}
form {
    margin-top: 20px;
}
footer {
    width: 100%;
    height: 150px;
    background-color: rgb(80, 80, 80);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    text-transform: uppercase;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Tablet*/
@media screen and (min-width: 426px) and (max-width: 768px) {
    img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.one {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 100%;
}
.one-third {
    width: 80%;
    height: 250px;
}
.two-third {
    width: 80%;
    height: 250px;
}
.two {
    display: flex;
    align-items: center;
    height: auto;
    flex-direction: column;
    margin-top: 0;
    width: 100%;
}
.one .one-third {
    margin-bottom: 2.5%;
}
.two .one-third {
    margin-top: 2.5%;
}
.one .two-third {
    margin-bottom: 2.5%;
}

}
/*Mobilen*/
@media screen and (max-width: 425px) {
    .one {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: auto;
        width: 100%;
    }
    .one-third {
        width: 60%;
        height: 250px;
    }
    .two-third {
        width: 60%;
        height: 250px;
    }
    .two {
        display: flex;
        align-items: center;
        height: auto;
        flex-direction: column;
        margin-top: 0;
        width: 100%;
    }
    .one .one-third {
        margin-bottom: 2.5%;
    }
    .two .one-third {
        margin-top: 2.5%;
    }
    .one .two-third {
        margin-bottom: 2.5%;
    }
    .navbar > .flex-row {
        flex-direction: column;
    }
    
    form {
        display: flex;
        flex-direction: column;
    }
    .main-content-2 {
        padding-left: 40px;
        padding-right: 40px;
    }
    p {
        line-height: 15px;
    }
   .main-content-1 > h1 {
    display: flex;
    flex-direction: column;
    line-height: 1.5em;
    text-align: center;
   }
   #subscribe {
    padding: 25px;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
   }
   input {
    margin-bottom: 10px;
    padding: 10px;
   }
}
